In [1]:
import re

In [ ]:
chat1 = 'Saket: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'Saket: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'Saket: yes, phone: 1235678912 email: abc@xyz.com'

In [21]:
pattern_number='\\d{10}|\(\d{3}\)-\d{3}-\d{4}'
matches=re.findall(pattern_number, chat3)
matches

<>:1: SyntaxWarning: invalid escape sequence '\('
<>:1: SyntaxWarning: invalid escape sequence '\('
C:\Users\SAKET\AppData\Local\Temp\ipykernel_8980\2774367188.py:1: SyntaxWarning: invalid escape sequence '\('
  pattern_number='\\d{10}|\(\d{3}\)-\d{3}-\d{4}'

['1235678912']

In [22]:
pattern_email='[a-z0-9A-Z_]*@[a-z]*\.[a-z]*'
match=re.findall(pattern_email,chat3)
match

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\SAKET\AppData\Local\Temp\ipykernel_8980\3339387245.py:1: SyntaxWarning: invalid escape sequence '\.'
  pattern_email='[a-z0-9A-Z_]*@[a-z]*\.[a-z]*'

['abc@xyz.com']

In [23]:
chat4='Saket: Hello, I am having an issue with my order # 412889912'
chat5='Saket: I have a problem with my order number 412889912'
chat6='Saket: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [27]:
pattern_order='order[^\d]*(\d*)'
match1=re.findall(pattern_order,chat6)
match1

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\SAKET\AppData\Local\Temp\ipykernel_8980\4002051327.py:1: SyntaxWarning: invalid escape sequence '\d'
  pattern_order='order[^\d]*(\d*)'

['412889912']

In [28]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [29]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [30]:
#age
get_pattern_match(r'age (\d+)', text)

'50'

In [31]:
#full name
get_pattern_match(r'Born(.*)\n', text).strip()

'Elon Reeve Musk'

In [32]:
#Date of birth
get_pattern_match(r'Born.*\n(.*)\(age', text).strip()

'June 28, 1971'

In [34]:
#place of birth
get_pattern_match(r'\(age.*\n(.*)', text)

'Pretoria, Transvaal, South Africa'

In [35]:
def extract_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
C:\Users\SAKET\AppData\Local\Temp\ipykernel_8980\3783779278.py:2: SyntaxWarning: invalid escape sequence '\d'
  age = get_pattern_match('age (\d+)', text)
C:\Users\SAKET\AppData\Local\Temp\ipykernel_8980\3783779278.py:4: SyntaxWarning: invalid escape sequence '\('
  birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
C:\Users\SAKET\AppData\Local\Temp\ipykernel_8980\3783779278.py:5: SyntaxWarning: invalid escape sequence '\('
  birth_place = get_pattern_match('\(age.*\n(.*)', text)

In [36]:
extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [37]:
text1='''President	Donald Trump (elect)
Preceded by	Position established
Personal details
Born	Elon Reeve Musk
June 28, 1971 (age 53)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa
Canada
United States (from 2002)
Political party	Independent
Spouses	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)â€‹
Children	12[1]
Parents	
Errol Musk
Maye Musk
Relatives	
Kimbal Musk (brother)
Tosca Musk (sister)
Lyndon Rive (cousin)
Education	University of Pennsylvania (BA, BS)
Occupation	Businessman
Profession	
Founder, CEO, and chief engineer of SpaceX
CEO and product architect of Tesla, Inc.
Owner, CTO and executive chairman of X (formerly Twitter)
President of the Musk Foundation
Founder of The Boring Company, X Corp., and xAI'''

In [47]:
extract_personal_information(text1)

{'age': 53,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [49]:
text2='''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 67)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Occupation	Businessman
Years active	1981-present
Organization	Reliance Industries
Title	Chairman and MD of Reliance Industries
'''

In [50]:
extract_personal_information(text2)

{'age': 67,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}

In [53]:
text3='''
Born	Narendra Damodardas Modi
17 September 1950 (age 74)
Vadnagar, Bombay State, India
(present-day Gujarat)
Political party	Bharatiya Janata Party
Spouse	Jashodaben Modi
â€‹
â€‹(m. 1968; sep. 1971)â€‹[2]
Residence	7, Lok Kalyan Marg, New Delhi
Alma mater	
Delhi University (BA)
Gujarat University (MA)
Awards	List of state honours
'''

In [54]:
extract_personal_information(text3)

{'age': 74,
 'name': 'Narendra Damodardas Modi',
 'birth_date': '17 September 1950',
 'birth_place': 'Vadnagar, Bombay State, India'}